@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    margin: 0;
    font-family: 'Roboto', monospace, sans-serif;
    color: #f1faee;
    background-color: #457b9d;
}

h1{
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    user-select: none;
}

p{
    font-size: 1.5rem;
    text-align: center;
}

/* Player and Computer Area */
.container{
    display:flex;
    gap: 2rem;
    justify-content:space-around;
    margin: 0;
}

.playerSide{
    display:flex;
    flex-direction: column;
    gap: 2rem;

}

.playerSide img, .computerSide img{
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    cursor: pointer;
    background-color: #f1faee;
    border-radius: 4%;
    border: 3px solid black;
}

.computerSide img{
    cursor:auto;
}

.playerSide img:hover
{
    animation: nudge 500ms linear;
    background-color: #e63946;
}

@keyframes nudge {
    0%{
        transform: rotate(-2deg) scale(1.1);
    }
    33%{
        transform: rotate(2deg) scale(0.9);
    }
    66%{
        transform: rotate(-2deg) scale(1.1);
    }
}

.computerSide{
    display:flex;
    flex-direction: column;
    justify-content: center;
}




/* Button  */
.button-container{
    display:flex;
    justify-content: space-around;
    margin-bottom: 10px;

}

.reset{
    height: 3rem;
    width: 10rem;
    font-size: 1.5rem;
    cursor:pointer;
    color: #1d3557;
    background-color: #f1faee;
    margin-top: 5rem;
}

.reset:hover{
    background-color: #a8dadc;
}